<%- include("partials/header.ejs") %>
<h2>Post From Users</h2>
<div class="articles">
    <% for( let index = 0; index < Posts.length; index++ ) { %>
        <p><%= Posts[index]['name'] %></p>
        <p><%= Posts[index]['email'] %></p>
        <p><%= Posts[index]['favorite_fruit'] %></p>
        <hr>
    
    <% } %>

</div>




<%- include("partials/footer.ejs") %>