<%- include("partials/header.ejs") %>
   
   <div class="articles">
         <% posts.forEach(post => { %>
           <table>
                <tr>
                    <th rowspan="2">
                        <h3><%= post.name %></h3>
                    </th>
                    <th>
                        <h3><%= post.email %></h3>
                    </th>
                    <th>
                        <h3><%= post.favorite_fruit %></h3>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3><%= post.text %></h3>
                    </td>
                    
                </tr>
                    
                <tr>
                    <td colspan="3">
                        <h3><%= post.date %></h3>
                    </td>
                </tr>
        </table>
                    <a class="edit" href="/edit/<%=post.id%>">Edit</a>
                    <a class="delete" href="/api/posts/delete/<%=post.id %>">Delete</a>  
    
                
        <% }) %>
           
    </div>

    <%- include("partials/footer.ejs") %>