<%- include("partials/header.ejs") %>
<h2>Post From Users</h2>
<div class="all-posts">
    <p><%= Posts["name"] %></p>
    <p><%= Posts["email"] %></p>
    <p><%= Posts["favorite_fruit"] %></p>

</div>




<%- include("partials/footer.ejs") %>