<%- include("partials/header.ejs") %>
   
   <div class="articles">
         <% posts.forEach(post => { %>
        <a class="edit" href="/edit/<%=post.id%>">Edit</a>
        <a class="delete" href="/api/posts/delete/<%=post.id %>">Delete</a>      
           <table style="width: 40%;" class="post-table">
                <tr>
                    <th rowspan="2">
                        <h3>Name:</h3>
                        <h4><%= post.name %></h4> 
                        <h5><small><%= post.date %>   <%= post.hour %>H:<%= post.minute%>M:<%= post.second %>S</small></h5> 
                    </th>
                    <th>
                        <h3>Email:</h3>
                        <h4><small><%= post.email %></small></h4>
                    </th>
                    <th>
                        <h3>Favorite Fruit:</h3>
                        <h4><small><%= post.favorite_fruit %></small></h4>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Comment:</h3>
                        <h4><small><%= post.text %></small></h4>
                    </td>          
                </tr>
        </table>
        
        <br>
      
        <% }) %>
           
    </div>

    <%- include("partials/footer.ejs") %>