<%- include("partials/header.ejs") %>
   
    <div class="articles">
            <% posts.forEach(post => { %>
                <h3><%= post['name'] %></h3>
                <h3><%= post.email %></h3>
                <h3><%= post.favorite-fruit %></h3>
                <h3><%= post.date %></h3>
                <a class="edit" href="">Edit</a> 
                <a class="delete" href="">Delete</a>  
                <hr>
            <% }) %>
    </div>


    <%- include("partials/footer.ejs") %>