<%- include("partials/header.ejs") %>
   
   <div class="articles">
         <% posts.forEach(post => { %>
        <a class="edit" href="/edit/<%=post.id%>">Edit</a>
        <a class="delete" href="/api/posts/delete/<%=post.id %>">Delete</a>  
           <table style="width: 40%;" class="post-table">
                <tr>
                    <th rowspan="2">
                        <h2>Name:</h2>
                        <h4><%= post.name %></h4>
                    </th>
                    <th>
                        <h2>Email:</h2>
                        <h4><%= post.email %></h4>
                    </th>
                    <th>
                        <h2>Favorite Fruit</h2>
                        <h4><%= post.favorite_fruit %></h4>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <h4><%= post.text %></h4>
                    </td>          
                </tr>
        </table>
        <h4><%= post.date %></h4>
        <br>
      
        <% }) %>
           
    </div>

    <%- include("partials/footer.ejs") %>