<%- include("partials/loginHeader.ejs") %>
    <div class="fruit-with-most-vote">
        <button class="upvotedFruit" onclick="upvoteFruit()">Click to see the most upvoted fruit</button>
        <p class="fruitName" id="upvoted_fruit" style="display: none"><%= upvote_fruit %></p>
    </div>
        <div class="articles">
            <% posts.forEach(post => { %>  
                    <div class="post-content"> 
                        
                        <div class="user-post">
                            <div class="title">
                                <span><h3><%= post.favorite_fruit %></h3></span>
                            </div>
                            <div class="comment">
                                <span><p><%= post.text %></p></span>
                                <span><small>By <%= post.name %></small></span>
                                
                            </div>
                        </div> 
                        <span><small><%= post.post_date.split("T")[0] %></small></span>
                        <a class="delete" href="/api/posts/delete/<%=post.id %>">Delete</a> 
                        <a class="edit" href="/edit/<%=post.id%>">Edit</a>
                             
                    </div>     
            <% }) %>

        </div>


  
     <script src="/scripts.js"> </script> 

    <%- include("partials/footer.ejs") %>











   
        